<h1 style="text-align: center; margin-bottom: 100px">
  Is it a good time for a bike?
</h1>

<div style="width: 100%; display: flex; justify-content: center">
  <div style="width: 85%">
    <div
      *ngIf="forecast.length > 0"
      style="display: flex; justify-content: space-between"
    >
      <div
        *ngFor="let record of forecast"
        style="
          background-color: #f3f3f3;
          padding: 20px;
          border-radius: 3px;
          width: 120px;
        "
      >
        <div
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img src="../assets/icons/calendar-clear.svg" style="height: 20px" />
          <p style="text-align: center">{{ record.day }}</p>
        </div>
        <p style="font-size: 11px; text-align: center">{{ record.hour }}</p>
        <hr />
        <div
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img src="../assets/icons/bicycle.svg" style="height: 20px" />
          <p style="text-align: center">{{ record.bikeStands }}</p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img src="../assets/icons/thermometer.svg" style="height: 20px" />
          <p style="text-align: left">{{ record.temp }}°</p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img src="../assets/icons/cloud.svg" style="height: 20px" />
          <p style="text-align: left">{{ record.hum }} %</p>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img src="../assets/icons/egg.svg" style="height: 20px" />
          <p style="text-align: left">{{ record.dew }}</p>
        </div>
        <hr />
        <div
          style="
            display: flex;
            justify-content: space-around;
            align-items: center;
          "
        >
          <img
            [src]="
              isGoodTime(record)
                ? '../assets/icons/happy.svg'
                : '../assets/icons/sad.svg'
            "
            style="height: 20px"
          />
          <p style="text-align: left">
            {{ isGoodTime(record) ? "Yes" : "No" }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
